/* <RESPONSIVE GRID CSS STYLES> */


/*                              */


/* IMPORT RESET */

@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */

@import "responsivegs-base-col.css";
@import "responsivegs-12col.css";
@import "responsivegs-9col.css";
@import "responsivegs-8col.css";
@import "responsivegs-7col.css";
@import "responsivegs-6col.css";
@import "responsivegs-5col.css";
@import "responsivegs-4col.css";
@import "responsivegs-3col.css";
@import "responsivegs-2col.css";
@import "partials/template-base";
* {
    font-family: sans-serif;
    font-size: $default-font-size_content;
}

.push {
    visibility: hidden;
}

@media only screen and (max-width: 480px) {
    .push {
        display: none;
    }
}


/* </RESPONSIVE GRID CSS STYLES> */

html {
    height: 100%;
}

body {
    //  background: url('apple-touch-icon.png') no-repeat center center;
    color: $HEX-Pure-White;
}

header {
    line-height: 15em;
    text-align: center;
    background: $RGBA-Salmon-Flat;
}

footer {
    line-height: 15em;
    text-align: center;
    background: none;
}

section.home {
    background-color:beige;
    div.section-background {}
}