table {
    border-collapse: collapse;
    margin: $mSpacing-sm 0;
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 1px solid shade($default-border-color, 25%);
    font-weight: 600;
    padding: $pSpacing-sm 0;
    text-align: left;
}

td {
    border-bottom: $default-border;
    padding: $pSpacing-sm 0;
}

tr,
td,
th {
    vertical-align: middle;
}