    //$b-font_color: #ff00ff;
    //$font_color_another_pg:#90f0f1;
    //$b-font_size:15px;
    @import "variables";
    @import "mixins";
    @import "buttons";
    @import "tables";
    @import "forms";
    /* imports all partials and is the global base and center for template design*/
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    html {
        box-sizing: border-box;
    }
    
    header {
        background-color: $RGBA-Salmon-Flat;
    }
    
    .section {
        &.home {
            div.section-background {
                max-width: 1415px;
                figure.fluid-ratio-image {
                    background-image: url("../assets/slices/background-image-sHome-01.jpg");
                    background-repeat: no-repeat;
//                    width: 100%;
//                    width: 1415px;
                    padding-top: 0%;
                    //height: 753px;
                    height: 320px;
                    background-size: cover;
                    -moz-background-size: cover;
                    /* Firefox 3.6 */
                    background-position: center;
                    /* Internet Explorer 7/8 */
                }
            }
        }
        background-color: $HEX-Pure-White;
        .content {
            h1.section-headline {
                font-size: $default-font-size_headline;
            }
            p.section-copy {
                font-size: $default-font-size_content
            }
        }
    }
    
    img.adaptive {
        //
    }
    
    //homepage styles: