        $RGBA-Salmon-Flat:rgba(139,121,128,1);
        $RGBA-Salmon-Dark:rgba(70,60,66,1);
        $RGBA-Black100:rgba(0,0,0,1);
        $RGBA-Black50:rgba(0,0,0,.5);
        $HEX-LightGray:#d2d2d2;
        $HEX-Salmon-Flat:#8B7980;
        $HEX-Salmon-Dark:#4D3C42;


        $HEX-Pure-White:#ffffff;
        $HEX-Beige:#E6D1B7;
        /*   <   Positioning & Spacing > */
        //
        $form-box-shadow-default: inset 0 1px 3px $RGBA-Black50;
//        $form-box-shadow-focus: $form-box-shadow-default 0 0 5px adjust-color($iccc, $lightness: -5%, $alpha: -0.3);
        $default-spacing: 10px;
        $pSpacing-sm:5px;
        $pSpacing-md:10px;
        $pSpacing-lg:20px;
        $pSpacing-xlg:45px;
        $mSpacing-sm:5px;
        $mSpacing-md:10px;
        $mSpacing-lg:20px;
        $mSpacing-xlg:45px;
        $default-pSpacing:3px;
        $default-mSpacing:0px;
        $font-stack-fallback: Arial, sans-serif;
        $font-stack-preferred: "Dancing Script", sans-serif;
        $default-font-design-preferred: $font-stack-preferred;
        $default-font-design-fallback: $font-stack-fallback;
        $heading-font-family: $font-stack-preferred;

        $default-line-height: 1.5;
        $heading-line-height: 1.2;
        $default-font-size_content:15px;
        $default-font-size_headline:25px;
        $nav-bg-color:$RGBA-Salmon-Flat;
        $default-duration: 350ms;
        $default-ease-type: ease-in-out;
        // Font Sizes
        $base-font-size: 1em;
        // Line height
        $base-line-height: 1.5;
        $heading-line-height: 1.2;
        $default-font_color:$HEX-Pure-White;
        $font_color_headline:$HEX-Salmon-Dark;
        $font_color_paragraph:$HEX-Salmon-Dark;
$default-border-radius: 3px;
$default-prime-bgcolor:$HEX-Pure-White;
$default-secondary-bgcolor: tint($default-prime-bgcolor, 75%)px;
$default-border-radius: 3px;
$default-duration: 2350ms;
$default-ease-type: ease-in-out;
/*==========================*===*/
/*=========*====================*/
$default-border-color: $HEX-LightGray;
$default-border: 1px solid $default-border-color;
$body-copy-color-a:$HEX-Pure-White;
$body-copy-color-b:$HEX-Salmon-Dark;

